{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    // recommend to use another config file like tsconfig.eslint.json and extends tsconfig.json in it.
    // because you may be need to lint test/**/*.test.ts but no need to emit to js.
    // @see https://github.com/typescript-eslint/typescript-eslint/issues/890
    "project": "./tsconfig.json"
  }
}
