.project
.settings
node_modules/
coverage/
test/.tmp*
package-lock.json
dist/
*.tsbuildinfo
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
!src/formstream.d.ts
.DS_Store
test/fixtures/ts/*.js
test/fixtures/ts-esm/*.js
.eslintcache
.tshy/
