name: Node.js old versions CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: nodejs-old-versions-test-${{ github.workflow }}-#${{ github.event.pull_request.number || github.head_ref || github.ref }}-(${{ matrix.node }})
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        node: ['16', '18']

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - name: Patch vitest imports
        run: |
          for f in test/*.test.ts; do [ -e "$f" ] || exit 0; sed --version >/dev/null 2>&1 && sed -i "s@'vite-plus/test'@'vitest'@g" "$f" || sed -i '' "s@'vite-plus/test'@'vitest'@g" "$f"; done
          sed --version >/dev/null 2>&1 && sed -i "s@'vite-plus'@'vite'@g" vite.config.ts || sed -i '' "s@'vite-plus'@'vite'@g" vite.config.ts
          jq 'del(.overrides)' package.json > package.json.tmp && mv package.json.tmp package.json
          npm install -D vitest@3 vite@7
      - run: npx vitest && npm run build:ts && npm run build:version && npm pack && npx attw --pack
        env:
          NODE_OPTIONS: --require ./test/patch-for-node16-18.cjs
      - run: npm run test-node16
