name: Node.js 16 CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: typecheck-${{ github.workflow }}-#${{ github.event.pull_request.number || github.head_ref || github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16
      - run: npm install
      - name: Downgrade vitest for Node 16
        run: npm install vitest@3 @vitest/coverage-v8@3 --save-dev --ignore-scripts
      - run: npm run ci:node16
      - run: npm run prepublishOnly
      - run: node -v
      - run: npm run test-node16
